/*
 *Name: Tucker Costin
 *UnityID: TRCOSTIN
 *Date: 9/23/2026
 *Assignment: Webpages lab
 *Description: Styling for the Webpages lab assignment
 */
 
p {
    font-family: Times;
    font-size: 16px;
    color: #DECAFF;
}

.table-border {
    border: 1px solid #DECAFF;
}

#photo-resize {
    max-width: 250px;
    max-height: 300px;
}
